@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.templates-wrapper {
    position: absolute;
    top: 25vh;
    left: 20vw;
    height: 40vh;
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.template {
    height: 25vh;
    width: 20vw;
    padding: 20px;
    position: relative;
    overflow: hidden;
    border: 1px solid grey;
    border-radius: 10px;
    border-spacing: 10px;
    cursor: pointer;
}

.template-title {
    position: absolute;
    top: calc(12.5vh - 0rem);
    left: calc(10vw - 1rem);
    z-index: 1;
    visibility: hidden;
    font-weight: bold;
    color: black;

    transition: all 0.05s linear;
}

.template-image {
    background-image: url('ghost.png');
    background-origin: padding-box;
    background-clip: padding-box;
    background-size: cover;
    height: 100%;
    width: 100%;
    filter: blur(0px);

    transition: all 0.1s linear;
}
.template:hover .template-image {
    filter: blur(4px);
}
.template:hover .template-title {
    visibility: visible;
}